*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* box 1 */
.navbar{
    height: 80px;
    background-color: black;
    color: white;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
}
.logo.border{
    /* border: 2px solid white; */
    height: 30px;
    width: 100px;
}
.logo{
    background-image: url("images/myntralogo.jpg"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 100px;
}
/* box 2 */
.add-2{
    font-size: 0.90rem;
}
.add-2 sup{
    color: rgb(254, 169, 226);
    font-size: 0.60rem;
}
/* box 3 */
.nav-search{
    display: flex;
    align-items: center;
    background-color: #f5f5f6;
    width: 350px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
}
.Search-icon{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f6;
    color: gray;
    font-size: 14px;
}

.nav-search.hover{
    border: 2px solid pink;
}

/* box 4 */
.nav-profile i{
    font-size: 20px;
}
.nav-profile{
    font-size: 0.85rem;
    font-weight: 500;
}
.nav-Wishlist i{
    font-size: 20px;
}
.nav-Wishlist{
    font-size: 0.85rem;
    font-weight: 500;
}
.nav-bags i{
    font-size: 20px;
}
.nav-bags{
    font-size: 0.85rem;
    font-weight: 500;
}
/* shop-section */
.shop-section{
    display: flex;
    background-color: rgb(250, 201, 209);
    flex-wrap: wrap;
    height: 140px;
    justify-content: space-evenly;
}
.box{
    height: 120px;
    width: 140px;
    background-color: antiquewhite;
    padding: 0%;
     /* padding: 20px 0px 15px;  */
    /* margin: 1px 1px 1px 1px; */
    margin-top: 10px; 
}
.box-img{
    height: 100px;
    width: 130px;
    background-size: cover;
    position: relative;
    right: 10px;
    background-repeat: no repeat;
    justify-content: center;
    /* margin-top: 1rem; */
    /* margin-bottom: 1rem; */
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
 }
 /* middle-section */
 .middle-section{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
 }

/* second boxes */
.second-box{
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(250, 201, 209);
    position: relative;
    bottom: 8px;
    justify-content: space-evenly;
}
.second-box p{
    font-size: 1.50rem;
    font-weight: 500;
    height: 10px;
    width: 100%;
}
.boxes-img{
    height: 230px;
    width: 180px;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    /* margin-top: 20px; */
}
.second-box p span{
    font-size: 1rem;
    color: rgb(42, 42, 253);
    position: relative;
   bottom: 20px;
   left: 40px;
}
/* third-box */
.third-box{
    width: 100%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(250, 187, 198);
    position: relative;
    bottom: 10px;
    justify-content: space-evenly;
}
.first-box{
    height: 330px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: antiquewhite;
    margin-top: 10px;
}
.first-box h2{
    height: 20px;
    width: 200px;
    font-size: 1rem;
    justify-content: center;
}
.img{
    height: 130px;
    width: 200px;   
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-evenly; 
    
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
 }
 span{
    font-size: 0.7rem;
 }
 /* section */
.section{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    bottom: 10px;
}
/* circle-sec */
.circle-sec{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    position: relative;
    bottom: 30px;
}
.square{
    height: 200px;
    width: 200px;
    background-color: antiquewhite;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    top: 20px;
}
.circle-img{
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
    width:180px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 10px;
}
/* footer */
.panel1{
     height:40px;
     width: 100%;
     background-color: rgb(56, 56, 56);
     position: relative;
     bottom: 30px;
}
.panel2{
    height: 220px;
    width: 100%;
    background-color: rgb(245, 243, 243);
    position: relative;
    bottom: 30px;
    display: flex;
    justify-content: space-evenly;
}
.panel2 p{
    height: 30px;
    width: 100px;
    margin-top: 20px;
    font-size: 1rem;
}
ul a{
    display: block;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.panel3{
    height: 500px;
    width: 100%;
    background-color: white;
    position: relative;
    bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}
.panel4{
    height: 40px;
    width: 100%;
    background-color: rgb(232, 229, 229);
    font-family: fantasy;
    display: flex;
    align-items: center;
    justify-content: center;  
}
